// --- Custom colors ---
.primary {
  color: $primary;
}

.white {
  color: #fff;
}

$dark-page: #121212;
.dark-page {
  color: $dark-page;
}
.bg-dark-page {
  background: $dark-page;
}

$armor: $blue-8;
.armor {
  color: $armor;
}
.text-armor {
  color: $armor;
}
.bg-armor {
  background: $armor;
}

$bullet: $deep-orange;
.bullet {
  color: $bullet;
}
.text-bullet {
  color: $bullet;
}
.bg-bullet {
  background: $bullet;
}

$money: $teal;
.money {
  color: $money;
}
.text-money {
  color: $money;
}
.bg-money {
  background: $money;
}

$boss: $red;
.boss {
  color: $boss;
}
.text-boss {
  color: $boss;
}
.bg-boss {
  background: $boss;
}

$health-green: $lime-14;
.health-green {
  color: $lime-14;
}
.text-health-green {
  color: $lime-14;
}
.bg-health-green {
  background: $lime-14;
}

// --- General ---
@font-face {
  font-family: Bender;
  src: url(./fonts/Bender.woff);
}

body {
  font-family: 'Bender';
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greyed-text {
  color: $grey-7;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}

// Scrollbar
@media (min-width: 800px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  ::-webkit-scrollbar-thumb {
    background: #606060;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
}

// --- Animation ---
.attention-pulse {
	background: rgba(255, 0, 30, 1);
	border-radius: 50%;
	margin: 1vh;
	height: 2vh;
	width: 2vh;
  z-index: 5;

	box-shadow: 0 0 0 0 rgba(255, 0, 30, 0.7);
	transform: scale(0.8);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(255, 0, 30, 0.7);
	}

	70% {
		transform: scale(0.8);
		box-shadow: 0 0 0 10px rgba(255, 0, 30, 0.7);
	}

	100% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(255, 0, 30, 0.7);
	}
}