.primary {
  color: $primary;
}

.white {
  color: #fff;
}

// --- Custom colors ---
$armor: $blue-8;
.armor {
  color: $armor;
}
.text-armor {
  color: $armor;
}
.bg-armor {
  background: $armor;
}

$bullet: $deep-orange;
.bullet {
  color: $bullet;
}
.text-bullet {
  color: $bullet;
}
.bg-bullet {
  background: $bullet;
}

$money: $teal;
.money {
  color: $money;
}
.text-money {
  color: $money;
}
.bg-money {
  background: $money;
}

// --- General ---
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greyed-text {
  color: $grey-7;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}
